.img_info {
  display: flex;
}
.img {
  margin: 20px;
}
.info {
  margin-left: 30px;
}
.user_info {
  font-size: 25px;
  color: rgb(22, 22, 66);
  font-weight: 700;
}
.user_name {
  font-size: 35px;
  color: rgb(22, 22, 66);
  font-weight: 700;
  margin-top: 20px;
}
.posts_list {
  list-style: none;
}

.posts_container {
  margin: 0 150px 100px 150px;
}
.post_title {
  text-align: center;
  font-size: 45px;
  color: rgb(7, 7, 65);
  font-weight: 700;
  margin-bottom: 20px;
}
